body {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  background: #313031;
  border-radius: 50px;
}

.text-justify {
  text-align: justify;
}

.txt-limit {
  width: 80px;
}

.stats>.value {
  font-size: 4rem;
}

.notification-list {
  height: 100vh;
  max-height: 700px;
}

.flex-col {
  flex-direction: column;
}

.scrollable-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.card.item {
  margin: 0px 0.5rem;
  margin-top: 0.5rem;
}

.container .nav-item .active {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

.message-box {
  height: 100vh;
  max-height: 530px;
}
