body {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  background: #313031;
  border-radius: 50px;
}

.text-justify {
  text-align: justify;
}

.txt-limit {
  width: 80px;
}

.stats>.value {
  font-size: 4rem;
}

.notification-list {
  height: 100vh;
  max-height: 700px;
}

.flex-col {
  flex-direction: column;
}

.scrollable-list {
  overflow-x: hidden;
  overflow-y: auto;
}

.card.item {
  margin: 0px 0.5rem;
  margin-top: 0.5rem;
}

.container .nav-item .active {
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

.message-box {
  height: 100vh;
  max-height: 530px;
}

/* PUBLIC PAGE */
/* PUBLIC PAGE */
/* PUBLIC PAGE */

.bg_color {
  background-image: url("../images/sign-in-banner.png");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  background-color: hsl(300, 1%, 19%);
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cont_error {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 10%
}

.cont_error>.oops {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 9vw;
  color: #fff;
  position: relative;
  transition: all 0.5s;
  display: block;
  text-shadow: 2px 2px #ff0000;
}

.cont_error>.not {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 8vw;
  color: #FFCC00;
  position: relative;
  transition: all 0.5s;
  text-shadow: 2px 2px #ff0000;
  display: block;
}

.cont_error>.p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 8vw;
  color: #fff;
  position: relative;
  transition: all 0.5s;
  transition-delay: 0.5s;
  -webkit-transition: all 0.5s;
  -webkit-transition-delay: 0.5s;
  text-shadow: 2px 2px #ff0000;
  display: block;
}

.cont_error>.buttons {
  margin-top: 10px;
  justify-content: center;
}

.cont_aura_1 {
  position: absolute;
  width: 300px;
  height: 120%;
  top: 25px;
  background-color: #FFCC00;
  box-shadow: 0px 0px 60px 20px #867f04;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_aura_2 {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: -301px;
  background-color: #FFCC00;
  box-shadow: 0px 0px 60px 10px #867f04, 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.cont_error>.oops {
  left: 0%;
  position: relative;
  animation-name: count_error_h1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.cont_error>.not {
  left: 0%;
  position: relative;
  animation-name: count_error_h2;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.cont_error>.p {
  left: 0%;
  position: relative;
  animation-name: count_error_p;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.cont_aura_2 {
  animation-name: animation_error_2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: rotate(-20deg);
  animation-fill-mode: both;
}

.cont_aura_1 {
  transform: rotate(20deg);
  right: -170px;
  animation-name: animation_error_1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes count_error_h1 {
  from {
    left: -100%;
  }

  to {
    right: 50%;
  }
}

@keyframes count_error_h2 {
  from {
    left: 100%;
  }

  to {
    right: -50%;
  }
}

@keyframes count_error_p {
  from {
    left: -100%;
  }

  to {
    right: 50%;
  }
}

@keyframes animation_error_1 {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(25deg);
  }
}

@keyframes animation_error_2 {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(-20deg);
  }
}